*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-block-size: 100vh;
  font-family: 'Open sans', sans-serif;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  padding: clamp(20px, 5vw, 50px) 20px 10px;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
}

.center-content input {
  margin-inline-start: 10px;
  transform: scale(1.5);
}


.content {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-container {
  background: #fff;
  inline-size: 33%;
  padding: 20px;
  margin-block-end: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: start;
}

.question {
  font-size: 1rem;
  font-weight: bold;
  margin-block-end: 10px;
  color: black;
}

/* Classes ajoutées pour colorier les réponses */
.quiz-container .question.correct {
  color: green;
}

.quiz-container .question.incorrect {
  color: red;
}

.quiz-container .question.no-answer {
  color: orange;
}

/* Styles pour les réponses */
input[type="checkbox"],
input[type="radio"] {
  margin-inline-end: 10px;
}

label {
  font-size: 0.95rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
}

/* Style du bouton de validation */
.validate-btn {
  background-color: #fff;
  color: #0a750e;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-align: center;
  inline-size: 10%;
}

.validate-btn .checkmark {
  margin-inline-start: 5px;
  font-size: 1.2rem;
  vertical-align: middle;
}

.validate-btn:hover {
  background-color: #f3f3f3;
  transform: translateY(-2px);
}

/* Styles du message d'information */
.info {
  margin-block-start: 15px;
  font-size: 1rem;
  background: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  inline-size: 33%;
}

.info.green {
  color: green;
}

.info.orange {
  color: orange;
}

.info.red {
  color: red;
}

/* Ajustement responsive */
@media (max-width: 768px) {

  .quiz-container,
  .validate-btn,
  .info {
    inline-size: 90%;
  }
}